---
const { href } = Astro.props
---

<a href={href}>
 <slot name="before"></slot> 
 <slot>Contenido por defecto si no llega nada</slot>
 <slot name="after"></slot>   
</a>


<style>

    a {
        width: fit-content;
        padding: 6px;
        margin: 5px 0;
        border-radius: 15px;
        border: 2px solid white;
        background-color: black;
        color: white;
    }

</style>
