---
import Layout from "../layouts/Layout.astro" 
---


<Layout>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a voluptates suscipit ut alias consectetur ipsa ipsum minus blanditiis soluta asperiores, rerum dolorem iusto harum itaque amet. Quae, accusamus eveniet!</p>

</Layout>
